$mainFont: 'Montserrat', sans-serif;
$subFont: 'Roboto', sans-serif;
$styledFont: 'Kaushan Script', cursive;;
$mainColor: #fce38a;
$gigaBigFz: 150px;
$megaBigFz: 100px;
$veryBigFz: 72px;
$bigFz: 60px;
$middleBigFz: 50px;
$middleFz: 40px;
$middleSmallFz: 30px;
$normalBigFz: 24px;
$normalFz: 20px;
$smallBigFz: 18px;
$smallFz: 15px;
$smallSmallFz: 14px;
$borRad: 10px;

